{% extends 'base.html' %}

{% block content %}
<title>{% block title %} Редакции {% endblock title %}</title>
<table class="table">
    <thead class="thead">
        <tr>
            <th>#</th>
            <th>Название редакции</th>
            <th>Книги редакции</th>
    </thead>
    {% for key, values in redactions.items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ key }}</td>
        <td>
            {% for value in values %}
            {{ value }} <br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}